@CHARSET "UTF-8";

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, canvas, details, 
figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video 
{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}

blockquote:before, blockquote:after, q:before, q:after {content:'';content:none;}
address, caption, cite, code, dfn, var {font-style:normal; font-weight:normal;}
acronym, abbr[title], dfn[title] {border-bottom:1px dotted;cursor:help;}
table {border-collapse:collapse;border-spacing:0;}
input, select {vertical-align:middle;}
nav ul, nav ol {list-style:none;}
caption, th {text-align:left;}
blockquote, q {quotes:none;}
fieldset, img {border:0;}

a {text-decoration:none;}
a:hover {text-decoration:none;}

html,body{overflow-x:hidden;}

body {
    background: white;
    color: #282828;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

iframe {
    height: 300px;
    width: 100%;
}

article {
    width: calc(33.3% - 42px);
    float: left;
    padding: 15px;
    margin: 5px;
    border: 1px solid DeepSkyBlue;
}

.main {
    padding: 0 25px;
    margin: auto;
}

.main header {
    text-align: center;
}

.main header p {
    margin: 10px;
    color: DeepSkyBlue;
}

.main header h1 {
    font-size: 52px;
    margin: 20px 0 0;
}

.main section h2 {
    margin-bottom: 5px;
    font-size: 24px;
}

.main footer {
    text-align: right;
    padding: 15px 0;
    clear: both;
}